# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

test.py

logs/dag_id=fondue_dag
logs/dag_processor_manager
logs/scheduler/*

logs/*

mlruns/
ouputs/

data/cleaned_fondue.csv
data/clustered_fondue.csv
data/fondue.csv
data/data_cleaned_by_length.csv

outputs/